@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

a.jlink {
	padding-right: 100px;
}

object {
	width: 400px;
	height: 300px;
}

@media only screen and (max-width: 768px) {
	object {
		width: 200px;
		height: 150px;
	}
}